/* multi line comments are preserved in the main.css file */
/* Partials */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#main .button {
  color: red;
}

/* Variables (SASS can save variables of all data types)*/
body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

/* Arithmetic */
h1 {
  font-size: 6px;
}

h2 {
  font-size: 2px;
}

h3 {
  font-size: 5;
  opacity: 0.4;
  padding-right: 3.5px;
}

h4 {
  width: 20px;
  width: 30px;
  width: 12px;
}

/* If Else statements */
h1:after {
  content: "My font is: sans-serif.";
}

h2 {
  padding: 25px;
}

/* Logical Operators */
h2:after {
  content: "var1 and var2 are false";
}

/* String Operations */
h2:after {
  content: "My name is: Allen Welch";
}

/* Color Concatenation */
h1 {
  color: #66c8ff;
}

h2 {
  color: #ff2b5b;
}

/* & usage */
.button:visited {
  color: white;
}

.button:hover {
  color: white;
}

.button:active {
  color: white;
}

.button > span {
  color: white;
}

.button + span {
  color: white;
}

.button ~ span {
  color: white;
}

.btn-primary {
  color: white;
}

.btn-secondary {
  color: white;
}

body.page-about .button {
  color: white;
}

/* Interpolation */
h2:after {
  content: "My font is: sans-serif.";
}

/* Mixins */
p {
  font-size: 16px;
}

h1 {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: #ff0000;
}

a {
  color: blue;
  background-color: red;
}

h4 {
  background-color: #fc0;
  font-size: 20px;
}

/* Mixins with Arguments */
#main a {
  color: white;
}

#main a:visited {
  color: blue;
}

#main a:hover {
  color: green;
}

#main a:active {
  color: red;
}

p {
  border-color: blue;
  border-width: 1in;
  border-style: dashed;
}

h1 {
  border-color: blue;
  border-width: 2in;
  border-style: dashed;
}

p {
  border-color: blue;
  border-width: 1in;
  border-style: dashed;
}

h1 {
  border-color: blue;
  border-width: 2in;
  border-style: dashed;
}

.shadows {
  -webkit-box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
          box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
}

/* Inheritance */
.message, .success, .error, .seriousError, .criticalError, .warning {
  border: 1px soild #ccc;
  padding: 10px;
  color: #333;
}

.success {
  border-color: green;
}

.error, .seriousError, .criticalError {
  border-color: red;
}

.warning {
  border-color: yellow;
}

.error, .seriousError, .criticalError {
  border: 1px #f00;
  background-color: #fdd;
}

.attention, .seriousError, .criticalError {
  font-size: 3em;
  background-color: #ff0;
}

.seriousError, .criticalError {
  border-width: 3px;
}

.error, .seriousError, .criticalError {
  border: 1px #f00;
  background-color: #fdd;
}

.seriousError, .criticalError {
  border-width: 3px;
}

.criticalError {
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

/* Placeholder Selectors */
.bar, .baz {
  color: red;
}

/* Lists and nth function */
.stuff-1 {
  color: #111;
  background-color: #123;
  border: #fff;
}

.stuff-2 {
  color: #222;
  background-color: #234;
  border: #d13;
}

.stuff-3 {
  color: #333;
  background-color: #356;
  border: #a245;
}

.stuff-4 {
  color: #444;
  background-color: #657;
  border: #b098;
}

.stuff-5 {
  color: #555;
  background-color: #098;
  border: #c65;
}

/* Maps */
.thing {
  content: "red #ff0000";
}

.thing {
  content: "green #00ff00";
}

.thing {
  content: "blue #0000ff";
}

.color-red {
  background: #ff0000;
}

.color-green {
  background: #00ff00;
}

.color-blue {
  background: #0000ff;
}

/* At-Root Directive */
.btn {
  background: #ededed;
  border: 1px solid black;
  color: #555;
  font-family: Arial;
  font-size: 1em;
}

.removeParent {
  text-decoration: none;
}

/* Functions */
.brand-button {
  background: #ddff00;
}

.brand-button:hover {
  background: #859900;
}

.brand-button:visited {
  background: #ebff66;
}

.modal.focus {
  background: #ddff00;
}

.main-content {
  background: rgba(221, 255, 0, 0.7);
}

/* Custom Functions */
.container {
  padding: 300px;
}

.inner-container {
  width: 45.04505%;
}

/*If Statements */
p {
  border: 1px solid black;
}

.firstClass {
  color: blue;
}

.secondClass {
  color: red;
}

.txt1 {
  color: white;
}

.txt2 {
  color: white;
  font-weight: bold;
}

p {
  color: red;
}

/* Loops */
.item-1 {
  width: 2em;
}

.item-2 {
  width: 4em;
}

.item-3 {
  width: 6em;
}

.bob-avatar {
  background-image: url("/img/bob.png");
}

.john-avatar {
  background-image: url("/img/john.png");
}

.bill-avatar {
  background-image: url("/img/bill.png");
}

.mike-avatar {
  background-image: url("/img/mike.png");
}

.usr1-picture {
  background-image: url("/img/bob.png");
}

.usr2-picture {
  background-image: url("/img/john.png");
}

.usr3-picture {
  background-image: url("/img/bill.png");
}

.usr4-picture {
  background-image: url("/img/mike.png");
}

.alert-button {
  color: yellow;
  background-color: red;
}

.submit-button {
  color: white;
  background-color: green;
}

.back-button {
  color: blue;
  background-color: transparent;
}

.col-1 {
  width: 8.33333;
}

.col-2 {
  width: 16.66667;
}

.col-3 {
  width: 25;
}

.col-4 {
  width: 33.33333;
}

.col-5 {
  width: 41.66667;
}

.col-6 {
  width: 50;
}

.col-7 {
  width: 58.33333;
}

.col-8 {
  width: 66.66667;
}

.col-9 {
  width: 75;
}

.col-10 {
  width: 83.33333;
}

.col-11 {
  width: 91.66667;
}

.col-12 {
  width: 100;
}
/*# sourceMappingURL=main.css.map */